/* 노멀라이징 */
body, ul, li{ 
    margin:0; 
    list-style:none; 
    padding:0; 
} 
a{ 
    text-decoration:none; 
    color:inherit; 
}

/* 커스터마이징 */
/* 업로더 */
.main_section{
    text-align: center;
    margin-bottom: 50px;
}
.uploader_body{
    display: inline-block;
    height: 300px;
    width: 70%;
    border: solid black 3px;
    border-radius: 5px;
}
.top_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding-left: 10px;
    padding-right: 15px;
}
.upload_area{
    height: 206px;
    width: 100%;
    text-align: left;  
    border-top: solid rgb(167, 167, 167) 2px;
    border-bottom: solid rgb(167, 167, 167) 2px;
}
.uploadZone{
	height: 100%;
	border: 2px solid;
	z-index: 500;
	padding-left: 7px;
    padding-right: 7px;
}
.uploadZone > span{
	text-align: center;
	padding-top: 50px;
}
.uploadZone > li{
	display: flex;
	justify-content: space-between;
}
.uploadZone > li > span{
	font-weight: bold; 
}

.info_area{
    height: 24px;
    border-bottom: solid rgb(167, 167, 167) 1px;
    padding-top: 5px;
}
.info_area > ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
}
.btn_area{
    height: 30px;
    text-align: left;
}


.uploaded_body{
    display: inline-block;
    height: 100px;
    padding-top: 5px;
    width: 70%;
    border: solid black 3px;
    border-radius: 5px;
}
.uploadedZone{
	height: 100%;
	z-index: 500;
	padding-left: 7px;
    padding-right: 7px;
}
.uploadedZone > span{
	text-align: center;
	padding-top: 50px;
}
.uploadedZone > li{
	display: flex;
	justify-content: space-between;
}
.uploadedZone > li > span{
	font-weight: bold; 
}

/* 다운로더 */
.downloader_body{
    display: inline-block;
    height: 300px;
    width: 70%;
    border: solid black 3px;
    border-radius: 5px;
}
.download_area{
    height: 206px;
    width: 100%;
    text-align: left;  
    border-top: solid rgb(167, 167, 167) 2px;
    border-bottom: solid rgb(167, 167, 167) 2px;
}
.downloadZone{
	height: 100%;
	border: 2px solid;
	z-index: 500;
	padding-left: 7px;
    padding-right: 7px;
}
.downloadZone > span{
	text-align: center;
	padding-top: 50px;
}
.downloadZone > li{
	display: flex;
	justify-content: space-between;
}
.downloadZone > li > span{
	font-weight: bold; 
}
